extends layout

block content
  .content
    a.btn.pull-right(href="/new-collection")
      | New Collection 
      em.fa.fa-plus
    h1 Collections
    if owns.length > 0
      .owns
        h3 Own
        each collection in owns
          .collection
            h3.title
              a(href="/#{collection.name}")= collection.title
            p= collection.description
    if follows.length > 0
      .follows
        h3 Following
        each collection in follows
          .collection
            h3.title
              a(href="/#{collection.name}")= collection.title
            p= collection.description
    if writes.length > 0
      .writes
        h3 Writer
        each collection in writes
          .collection
            h3.title
              a(href="/#{collection.name}")= collection.title
            p= collection.description
    if reads.length > 0
      .reads
        h3 Reader
        each collection in reads
          .collection
            h3.title
              a(href="/#{collection.name}")= collection.title
            p= collection.description