extends layout


block header
  include ./includes/header.jade

block content
  h1 Edit Collection
  form.pure-form.pure-form-stacked(method='post')
    fieldset
      input(name='name', placeholder='Name',value="#{collection.name}")
      input(name='title', placeholder='Title',value="#{collection.title}")
      textarea(name='description', placeholder='Description')= collection.description
      input(name='owners', placeholder='Owners',value="#{collection.owners.join(', ')}")
      input(name='writers', placeholder='Readers',value="#{collection.writers.join(', ')}")
      input(name='readers', placeholder='Writers',value="#{collection.readers.join(', ')}")
      button.pure-button.pure-button-primary(type='submit') Update
      