extends layout

block content
  #wrap
  script(type="text/javascript").
    var docId = '#{docId}';
    var docCollection = 'draft';
    var catalog = '#{doc.catalog}';
    var docStatus = '#{doc.status}';
    var defaultKey = '#{user.default_key}'
    var owns = !{owns};
    var writes = !{writes};
    var docMode = 'edit';
    var messages =  !{messages};
    window.onunload = function() {
      //alert('Leaving page')
      //TODO: snapshot the document here. (and wait)
    }
  script(type='text/javascript' src='/channel/bcsocket.js')
  script(type='text/javascript' src='/javascript/utils.js')  
  script(type='text/javascript' src='/javascript/main.js')  
