extends layout

block header
  include ./includes/header.jade

block content
  .content.wide
    header.col
      h1= collection.title
    .pure-g.search
      .pure-u-6-24
        if (user)
          .col
            ul.nav-v
              each catalog in reads
                li
                  a(href="/#{catalog.catalog}") #{catalog.name}
              li
                a(href="/collection/new")
                  em.fa.fa-plus  New Collection
      .pure-u-18-24
        .col
          .heading.top-border
          if (stories.length > 0)
            each story in stories
              .story-block
                h3.title
                  a(href="/#{story.catalog}/#{(story.title || '').replace(/\s/g,'_').        replace(/[^a-zA-Z0-9_]/g,'')}-#{story._id}")= (story.title ||         'Untitled')
                a(href="/#{story.catalog}/#{(story.title || '').replace(/\s/g,'_').        replace(/[^a-zA-Z0-9_]/g,'')}-#{story._id}")= story.slug
                .meta-line
                  span #{moment(story.updated).fromNow()}
