extends layout

block header
  include ./includes/header.jade

block content
  .content.wide.search
    header.col
      form()
        input.search-input(type="search", name='q',value="#{q}",placeholder='Search Qubic',autofocus=true)
    if q
      .pure-g
        .pure-u-4-24
          .col
            ul.nav-v
              li
                a.active(href="/search?q=#{q}") All
              li
                a(href="/search/people?q=#{q}") People
              li
                a(href="/search/collections?q=#{q}") Collections
        .pure-u-14-24.documents
          .col
            if documents && documents.length > 0
              .heading.top-border
                h3 Models
              each story in documents
                .story-block
                  h3.title
                    a(href="/edit/#{story._id}")= (story.title || 'Untitled')
                  a(href="/edit/#{story._id}")= story.slug
                  .meta-line
                    span #{moment(story.updated).fromNow()}  
            else
              .heading.top-border
                h3
              .excuse
                p We couldn't find any models.
        .pure-u-6-24
          .col
            if people && people.length > 0
              .people
                .heading.top-border
                  h3 People
                each person in people
                  .person
                    h3.title
                      a(href="/@#{person.name}")= (person.displayName || person.name)
                    a(href="/@#{person.name}")= person.bio
            if collections && collections.length > 0
              .people
                .heading.top-border
                  h3 Collections
                each collection in collections
                  .collection
                    h3.title
                      a(href="/#{collection.name}")= collection.title
                    a(href="/#{collection.name}")= collection.description
  