extends layout

block content
  form()
    input(name='q',value="#{q}",placeholder='Search Qubic')
  if documents
    h3 Models
    if documents.length > 0
      each doc in documents
        .story
          h4= doc.title
          p= doc.slug
    else
      p No models found.
  if people
    h3 People
    if people.length > 0
      each person in people
        .person
          h4
            a(href="/@#{person.name}")= person.displayName
          p= person.bio
    else
      p No collections found.
  if collections
    h3 Collections
    if collections.length > 0
      each collection in collections
        .collection
          h4
            a(href="/#{collection.name}")= collection.title
          p= collection.description
    else
      p No collections found.
