extends layout


block header
  include ./includes/header.jade

block content
  h1= collection.title
  if (submissions.length > 0)
    each submission in submissions
      .story-block
        h3.title
          a(href="/edit/#{submission.document_id}")= (submission.title || 'Untitled')
        a(href="/edit/#{submission.document_id}")= submission.slug
        .meta-line
          span= submission.submitted_by
          span.dot &middot;
          span= moment(submission.created).fromNow()
  else
    p No submissions yet.